@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.body-class-about{
    padding:0;
    margin:0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Staatliches', cursive;
}
.row-custom{
    display: flex;
    gap: 5rem;
}

.profile-card{
    text-align: center;
    flex-direction: column;
}
.profile-info-container{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(3, 3, 3, 0.904);
    border-radius: 10px;
    border: solid 1px;
}

.profile-bg{
    margin: auto;
    width: 12vw;
    height:14vw;
    /* background-color: rgb(125, 157, 29); */
    background-color: rgb(17, 17, 17);
    border-radius: 50%;
}

.profile-image img{
    filter: grayscale(60%) contrast(170%) brightness(95%);
    border-radius: 50%;
    width: 12vw;
    height: 14vw;
}
.profile-card-text{
    color: rgb(125, 157, 142);
    margin-top: 10px;
}

.title-color{
    color: rgb(0, 255, 132);
}

.social-media-about{
  justify-content: center;
  display:flex;
  gap: 20px;
  font-size: 20px;
}

.social-icons{
  transform: scale(1.0);
}
.profile-info{
    margin-top: 1rem;
}

.profile-info-details{
    display:flex;
    justify-content: center;
    gap:20px;
    color: rgb(125, 157, 142);
    font-weight: 600;
}

.send-mail > button{
    width:30%;
    background-color: rgb(21, 97, 152);
    color: black;
    font-weight: 600;
}
.send-mail > button:hover{
    background-color: blue;
    color:black;
    transition: 1s;
}

/* ABOUT */

.about-info{
    border: 1px solid red;
    border: 1px solid;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-info-top > h3, h2{
color: rgb(125, 157, 142);
}

.about-info-bottom{
    color: rgb(34, 149, 47);
    margin-top: 10%;
}

.box-header{
    
    display:flex;
}

.box-content{
    display:flex;
color: rgb(125, 157, 142);
gap:20px;
}

.box-content-fa{
    display:flex;
    gap:10px;
}

.box{
    border: solid 1px;
    height: 10vh;
    background-color: rgba(0, 128, 0, 0.217);
}

.box:hover{
    transform: scale(0.8);
    transition: 3s;
}

.about-info-bottom-row{
gap: 20px;
display:flex;
justify-content: space-evenly;
justify-content: center;
}

.box-header-icon{
    transform: scale(1.8);
}